http_port=9000
https_port=9433

## https configurations
# size header to request
http_request_header_size=
# size header to response
http_response_header_size=
# keystone path
keystore_path=
# keystore password
keystore_password=password

# required
admin_public_key=$path-public-key
# required
admin_private_key=$path-private-key

# Authentication plugin
# required
authentication_plugin=org.fogbowcloud.generator.auth.LDAPAuthentication
# ldap url
# required
ldap_url=$lad_url
# example: dc=lab,dc=inst,dc=edu,dc=br
ldap_base=$ldap_base

# Period of the scheduler to check token expired.
# Default: 12000 
token_expiration_scheduler_period=

# comma separated list of admin usernames
admins=$username1,$username2

token_datastore_url=jdbc:sqlite:/$path/db_token_SQLite.db