http_port=9000
https_port=9433

## https configurations
# size header to request
http_request_header_size=
# size header to response
http_response_header_size=
# keystone path
keystore_path=
# keystore password
keystore_password=password

# required
admin_public_key=/path
# required
admin_private_key=/path

# Authentication plugin
authentication_plugin=

# Period of the scheduler to check token expired.
token_expiration_scheduler_period=

# comma separated list of admin usernames
admins=username1,username2

ldap_url=ldap://ldap.lsd.ufcg.edu.br:389
ldap_base=dc=lsd,dc=ufcg,dc=edu,dc=br


token_datastore_url=jdbc:sqlite:/tmp/db_token_SQLite.db